* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
html {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
    background: #444444;
    height: 100%;
}
header {
    flex-shrink: 0;
    display: grid;
    background: white;
    padding: 0.5rem;
    grid-template-columns: 2rem 1fr;
}
#search-image {
    width: 2rem;
    height: 2rem;
}
#search-input {
    border: none;
    padding: 0.25rem;
}
main {
    flex-shrink: 0;
    display: grid;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    grid-template-columns: repeat(auto-fit, 15rem);
    grid-gap: 0.5rem;
    grid-auto-rows: auto;
    text-align: center;
}
.watchable_film_item {
    display: flex;
    flex-flow: column;
    background: #222222;
    text-decoration: none;
    font-weight: normal;
    color: white;
}
.non-watchable_film_item {
    display: flex;
    flex-flow: column;
    background: #222222;
    text-decoration: none;
    font-weight: normal;
    color: #884444;
}
main > a > img {
    width: 100%;
    align-self: center;
}
main > a > div {
    width: 100%;
	margin-top: 0.25rem;
    align-self: center;
}
main > a > div > p {
    width: 100%;
	margin-top: 0.25rem;
	margin-bottom: 0.25rem;
    align-self: center;
}
#elastic {
    flex: 1 0 auto;
}
footer {
    flex-shrink: 0;
    padding: 0.5rem;
    background: white;
    text-align: center;
}
#more-image {
    width: 2rem;
    height: 2rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
